name: Scrape and Deploy

on:
  schedule:
    # Run every 10 minutes between 7 and 11 AM CET (6-10 UTC)
    - cron: '*/10 6-10 * * *'
  workflow_dispatch:
  push:
    branches: ["main"]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  scrape-and-deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run scraper
        run: docker compose run --rm scraper

      - name: Get current hour (UTC)
        id: date
        run: echo "hour=$(date -u +'%H')" >> $GITHUB_OUTPUT

      - name: Verify scraped data
        if: github.event_name == 'schedule' && steps.date.outputs.hour == '10'
        run: python scripts/verify_data.py
        
      - name: Install uv
        run: pip install uv

      - name: Generate venv
        run: uv sync

      - name: Generate requirements.txt
        run: uv pip compile pyproject.toml -o requirements.txt

      - name: Install dependencies
        run: uv pip install -r requirements.txt

      - name: Generate static page
        run: |
          # The Taskfile is not available in the docker image, so we run the script directly
          uv run python scripts/generate_static_page.py

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload docs directory
          path: 'docs'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
